.auto-complete-item{
    background-color: rgb(232, 235, 239);
    /* width: 70%; */
    padding: 0.5rem 0.5rem 0.5rem;
    cursor: pointer;
    border-bottom: 1px solid black;
    /* margin: 0.5rem 0rem 0.5rem; */
}

.auto-complete-item:hover {
    background-color: rgb(200, 210, 220);
}

.headingLevelData, .headingLevelDataValues{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    gap: 25px;
    text-align: center;
}
.headingLevelData p{
    font-weight: 800;
    font-size: x-small;
}

.auto-complete-item p{
    margin: 0;
}