.navbar {
    background-color: #333;
    color: #fff;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-links{
    list-style: none;
    display: flex;
    gap: 20px;
}

.navbar-links li{
    cursor: pointer;
    text-decoration: none;
}

.navbar-link{
    text-decoration: none;
    color: #fff;
}

.navbar-link:hover,
.navbar-link:focus {
    text-decoration: underline;
}