.container{
    padding: 1rem 2rem 1rem;
}

.search-input{
    width: 70%;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 0.25rem;
}

.search-button{
    padding: 0.5rem 1rem;
    border: 1px solid #ccc;
    border-radius: 0.25rem;
    cursor: pointer;
}

.autoCompleteSuggestions{
    max-height: 200px;
    overflow-y: scroll;
    width: 72%;
}

.buttons{
    display: flex;
    justify-content: space-evenly;
    width: 50%;
    margin: 0.5rem auto 0;
}

.buttons button{
    cursor: pointer;
}